---
import Nav from '../components/Nav.astro';

const title = "About";
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <h1>{title}</h1>
    <p>このサイトはAstro学習用です。</p>
  </body>
</html>
