---
import Layout from '../layouts/Layout.astro';

const today = new Date().toLocaleDateString("ja-JP");
---

<Layout title="Hello Astro!">
  <h1>Hello Astro!</h1>
  <p>今日は {today} です</p>
  <p>Astro学習はじめました！</p>
</Layout>
