---
// --- (フェンス) の中は JavaScript が書ける
// ここはサーバー側で実行され、ブラウザには送られない
const title = "Hello Astro!";
const today = new Date().toLocaleDateString("ja-JP");
---

<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body>
    <h1>{title}</h1>
    <p>今日は {today} です</p>
    <p>Astro学習はじめました！</p>
  </body>
</html>
